:root {
    --dark-blue: hsl(209, 23%, 22%) /*Dark Mode Elements*/;
    --very-dark-blue: hsl(207, 26%, 17%) /*Dark Mode Background*/;
    --very-dark-blue-text: hsl(200, 15%, 8%) /*Light Mode Text*/;
    --dark-gray: hsl(0, 0%, 52%) /*Light Mode Input*/;
    --very-light-gray: hsl(0, 0%, 98%) /*Light Mode Background*/;
    --white: hsl(0, 0%, 100%) /*Dark Mode Text & Light Mode Elements*/;
}

html {
    scroll-behavior: smooth;
}

.app-container {
    background-color: var(--very-light-gray);
    color: var(--very-dark-blue-text);
    min-height: 100vh;
}

.dark {
    background-color: var(--very-dark-blue);
    color: var(--white);
}

.inner-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countries-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.countrie-box {
    transition: 1s;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    animation: fadeIn 1s;
}

.countrie-box:hover {
    transform: scale(1.1);
}

.flag-img {
    width: 200px;
}

.countrie-name {
    max-width: 200px;
    font-size: 1.5rem;
}

.dark-box {
    background-color: var(--dark-blue);
}

#scroll-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.1s;
    padding: 0.5rem 0.25rem;
}

#scroll-btn:hover {
    opacity: 1;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 950px) {
    .countries-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .countries-container {
        grid-template-columns: repeat(1, 1fr);
    }
}